<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCtHjhkVybCxZQMSsEKE8yOwU7hhpgoVaE</string>
	<key>GCM_SENDER_ID</key>
	<string>109381590450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mmofood.user</string>
	<key>PROJECT_ID</key>
	<string>momofood-2b75f</string>
	<key>STORAGE_BUCKET</key>
	<string>momofood-2b75f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:109381590450:ios:a534d102911a7fc08d18ab</string>
</dict>
</plist>